/* CSS RESET */

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
margin: 0;
}

body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}

input, button, textarea, select {
font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}

p {
text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
text-wrap: balance;
}

#root, #__next {
isolation: isolate;
}

/* ===============END OF CSS RESET=============== */


/* FONT */

body {
    font-family: "Roboto", sans-serif;
    text-wrap: balance;
}

.logo-text {
    font-size: 1.875em;
}

.side-text, .greeting-bot {
    font-size: 1.5em;
}

.header-top span, button, .main-header, .card-text p:first-child {
    font-size: 1.125em;
}

.greeting-top, .card-text p+p, .info p:first-child, .user {
    font-size: 0.875em;
}

.info p+p {
    font-size: 0.75em;
}

/* END OF FONT */


/* BASE GRID LAYOUT */

body {
    display: grid;
    grid-template-columns: minmax(max-content, 17.5vw);
    grid-template-rows: 1fr 5fr;
    width: 100vw;
    height: 100vh;
}

header {
    background-color: rgba(254,254,255,255);
    grid-column: 2/3;
    grid-row: 1/2;
}

aside {
    background-color: rgba(24,147,212,255);
    grid-column: 1/2;
    grid-row: 1/3;
}

main {
    background-color: rgba(227,232,241,255);
    grid-column: 2/3;
    grid-row: 2/3;
}

/* END OF BASE GRID LAYOUT */


/* IMAGES */

img {
    display: inline-block;
    vertical-align: sub;
    cursor: pointer;
}

.logo {
    width: 2.25em;
    position: relative;
    top: 0.2em;
}

.icon {
    width: 1.5em;
}

.profile-pic-large, .profile-pic-small {
    border-radius: 50%;
}

.profile-pic-large {
    width: 4.7em;
    height: 4.7em;
}

.profile-pic-small {
    width: 3.125em;
    height: 3.125em;
}

/* END OF IMAGES */


/* SIDEBAR */

aside {
    color: #fffefe;
    padding: 1.4em;
    font-weight: bold;
    z-index: 2;
}

.logo-text {
    margin-left: 1.25em;
    cursor: pointer;
}

.side-text {
    margin-left: 1.625em;
}

aside div {
    margin-bottom: 3.75em;
}

aside ul {
    list-style-type: none;
    padding: 6px;
}

aside ul+ul {
    margin-top: 5em;
}

aside li {
    margin-bottom: 1.25em;
    cursor: pointer;
}

/* END OF SIDEBAR */


/* HEADER */

header {
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 1.4em 3.75em 0 2.8em;

    font-weight: bold;
}

    /* HEADER TOP */
    .header-top {
        display: grid;
        grid-template-columns: max-content repeat(15, minmax(max-content, 1fr));
        grid-template-rows: 2em;
        gap: 1.25em;

        margin-bottom: 2em;
    }

    .searchbar {
        background-color: rgba(226,233,241,255);
        border: none;
        border-radius: 1em;
        grid-column: 2/12;
        padding-left: 1em;
    }

    .searchbar+.icon {
        grid-column: 14;
    }

    .header-top * {
        align-self: center;
    }

    .header-top img {
        justify-self: center;
    }

    .header-top .icon {
        justify-self: end;
    }

    .header-top span {
        padding-right: 1em;
    }

    /* HEADER BOTTOM */
    .header-bot {
        display: grid;
        grid-template-columns: max-content max-content auto repeat(3, minmax(max-content, 100px));
        gap: 1.25em;

        margin-bottom: 1em;
    }

    .header-bot button {
        padding: 0.75em;
        width: clamp(max-content, auto, 100px);
        background-color: rgba(24,147,212,255);
        border: none;
        color: rgba(254,254,255,255);
        border-radius: 2em;
        cursor: pointer;
    }

    .header-bot>button:first-of-type {
        grid-column: 4;
    }

    .header-bot * {
        align-self: center;
    }

/* END OF HEADER */


/* MAIN PART */

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1.25em;

    padding: 1.25em 2em 2.25em 1.25em;
}

.main-header {
    margin-bottom: -1em;
    font-weight: bold;
}

    /* LEFT SIDE */
    .main-l {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto repeat(3, 1fr);
        column-gap: 1.5em;
        row-gap: 1.75em;
    }

    .card:nth-of-type(1) {
        grid-column: 1;
        grid-row: 2;
    }

    .card:nth-of-type(2) {
        grid-column: 2;
        grid-row: 2;
    }

    .card:nth-of-type(3) {
        grid-column: 1;
        grid-row: 3;
    }

    .card:nth-of-type(4) {
        grid-column: 2;
        grid-row: 3;
    }

    .card:nth-of-type(5) {
        grid-column: 1;
        grid-row: 4;
    }

    .card:nth-of-type(6) {
        grid-column: 2;
        grid-row: 4;
    }

    /* RIGHT SIDE */
    .main-r {
        display: grid;
        grid-auto-rows: auto minmax(0, min-content);
        gap: 1.75em;
    }

/* END OF MAIN PART */


/* CARDS */

.card {
    display: grid;
    grid-template-columns: 1fr 49fr;

    border-radius: 0.5em;
    box-shadow: 0.1em 0.2em 0.25em rgba(0, 0, 0, 0.1);
}

.card-l {
    background-color: #efb329;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}

.card-r {
    background-color: rgba(255,254,254,255);
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    padding: 0 1.25em 2em 1.5em;

    display: grid;
}

.top-row .card-r {
    padding-top: 2.5em;
}

.mid-row .card-r {
    padding-top: 2em;
}

.bot-row .card-r {
    padding-top: 1.5em;
}

.card-content {
    display: grid;
    grid-template-rows: 3fr 1fr;
    gap: 1.25em;
}

.card-text {
    grid-row: 1;
    grid-column: 1 / span 2;
}

.card-text p:first-child, .info p:first-child {
    font-weight: bold;
}

main p+p {
    color: rgba(100, 100, 100, 255);
}

.card-icons {
    grid-row: 2;
    grid-column: 2;
    justify-self: end;
    align-self: end;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;

    filter: invert(0.25);
}

.card-icons .icon:last-child {
    transform: rotate(-90deg);
}

.left-col .card-icons {
    padding-right: 0.5em;
}

.right-col .card-icons {
    padding-right: 1em;
}

/* END OF CARDS */


/* SIDE BOXES */

.side-box {
    padding: 1em 1.5em 1.5em;
    background-color: rgba(255,254,254,255);
    border-radius: 0.5em;
    box-shadow: 0.1em 0.2em 0.25em rgba(0, 0, 0, 0.1);
}

.info {
    padding: 1.25em 0.5em;
}

.info:nth-of-type(2) {
    border-top: 1px solid rgba(209,209,209,255);
    border-bottom: 1px solid rgba(209,209,209,255);
}

.user-l, .user-r {
    display: inline-block;
}

.user-r {
    margin-left: 1em;
    vertical-align: bottom;
}

.side-content-bot {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 1em;
}

/* END OF SIDE BOXES */