/* CSS RESET */

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
margin: 0;
}

body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}

input, button, textarea, select {
font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}

p {
text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
text-wrap: balance;
}

#root, #__next {
isolation: isolate;
}

/* END OF CSS RESET */


/* FONT */

body {
    font-family: "Roboto", sans-serif;
}

/* END OF FONT */


/* BASE GRID LAYOUT */

body {
    display: grid;
    grid-template-columns: minmax(max-content, 15vw);
    grid-template-rows: 1fr 5fr;
    width: 100vw;
    height: 100vh;
}

header {
    background-color: rgba(254,254,255,255);
    grid-column: 2/3;
    grid-row: 1/2;
}

aside {
    background-color: rgba(24,147,212,255);
    grid-column: 1/2;
    grid-row: 1/3;
}

main {
    background-color: rgba(227,232,241,255);
    grid-column: 2/3
}

/* END OF BASE GRID LAYOUT */


/* IMAGES */

img {
    display: inline-block;
}

aside img {
    vertical-align: bottom;
}

header img {
    vertical-align: middle;
}

.logo {
    width: 2.25em;
}

.icon {
    width: 1.5em;
}

.profile-pic-large, .profile-pic-small {
    border-radius: 50%;
    vertical-align: middle;
}

.profile-pic-large {
    width: 4.7em;
}

.profile-pic-small {
    width: 3.125em;
}

/* END OF IMAGES */


/* SIDEBAR */

aside {
    color: #fffefe;
    padding: 22.5px;
    font-weight: bold;
    z-index: 2;
}

.logo-text {
    font-size: 1.25em;
    margin-left: 20px;
}

.side-text {
    font-size: 1em;
    margin-left: 26px;
}

aside div {
    margin-bottom: 3.75em;
}

aside ul {
    list-style-type: none;
    padding: 6px;
}

aside ul+ul {
    margin-top: 5em;
}

aside li {
    margin-bottom: 1.25em;
}

/* END OF SIDEBAR */


/* HEADER */

header {
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 22.5px 60px 0 45px;

    font-weight: bold;
}

    /* HEADER TOP */
    .header-top {
        display: grid;
        grid-template-columns: max-content repeat(15, minmax(max-content, 1fr));
        grid-template-rows: 2em;
        gap: 1.25em;

        margin-bottom: 2em;
    }

    .searchbar {
        background-color: rgba(226,233,241,255);
        border: none;
        border-radius: 1em;
        grid-column: 2/12;
    }

    .searchbar+.icon {
        grid-column: 14;
    }

    .header-top * {
        align-self: center;
    }

    .header-top img {
        justify-self: center;
    }

    .header-top span {
        padding-right: 1em;
    }

    /* HEADER BOTTOM */
    .header-bot {
        display: grid;
        grid-template-columns: max-content max-content auto repeat(3, minmax(max-content, 100px));
        gap: 1.25em;

        margin-bottom: 1em;
    }

    .greeting p:last-child {
        font-size: 1em;
    }

    .header-bot button {
        padding: 0.75em;
        width: clamp(max-content, auto, 100px);
        background-color: rgba(24,147,212,255);
        border: none;
        color: rgba(254,254,255,255);
        border-radius: 2em;
    }

    .header-bot>button:first-of-type {
        grid-column: 4;
    }

    .header-bot * {
        align-self: center;
    }

/* END OF HEADER */


/* MAIN PART */

main {
    display: grid;
    grid-template-columns: 7fr 3fr;
    gap: 1.25em;

    padding: 2.25em 2em 4em 1.25em;
}

    /* MAIN LEFT */
    .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr;
        column-gap: 1.5em;
        row-gap: 2em;

        margin-top: 1em;
    }

    .card {
        display: grid;
        grid-template-columns: 1fr 49fr;

        background-color: rgba(255,254,254,255);
        border-radius: 0.5em;
        box-shadow: 0.125em 0.25em 0.5em rgba(0, 0, 0, 0.3); 
    }

    .stripe {
        background-color: #efb329;
        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;
    }

    .card-main {
        display: grid;
        grid-template-rows: 1fr max-content;
        gap: 1em;

        text-wrap: pretty;
        padding: 1.25em;
    }

    .card-top h2 {
        font-size: 0.75em;
    }

    .card-top p {
        color: rgba(96,97,97,255);
    }

    .card-bot {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-self: end;
    }

    .card-icons {
        grid-column: 2;

        display: grid;
        grid-template-columns: repeat(3, max-content);
        gap: 2em;

        filter: invert(0.25);
    }

    .card-icons img:last-of-type {
        transform: rotate(-90deg);
    }